# Microsoft SQL Server Configuration
DB_SERVER=DESKTOP-QVV1OE5\MSSQLSERVER01
DB_NAME=PPMS_BajajPant
DB_PORT=1433

# Optional: Set DB_USER & DB_PASSWORD if using SQL Server Authentication
# If omitted, the driver defaults to Windows Integrated Authentication
DB_USER=
DB_PASSWORD=

# Encryption & Certificate Settings
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

# API Server Port
PORT=5000
